<h3>Displaying Team</h3>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @team.admin %>
</p>

<p>
  <%= link_to "Edit", edit_team_path(@team) %> |
  <%= link_to "Destroy", @team, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", teams_path %>
</p>
