<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Idsid:</b>
  <%= @member.idsid %>
</p>

<p>
  <b>Coverage area:</b>
  <%= @member.coverage_area %>
</p>

<p>
  <b>Ooo info:</b>
  <%= @member.ooo_info %>
</p>

<p>
  <b>Fav snack:</b>
  <%= @member.fav_snack %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %>

